[submodule "Streaming-Content"]
	path = Streaming-Content
	url = https://github.com/jahAtFriends/Streaming-Content.git
[submodule "Percolation"]
	path = Percolation
	url = https://github.com/jahAtFriends/Percolation.git

[submodule "BigOLab"]
	path = BigOLab
	url = https://github.com/jahAtFriends/BigOLab.git
[submodule "BuffonsNeedle"]
	path = BuffonsNeedle
	url = https://github.com/jahAtFriends/BuffonsNeedle.git
[submodule "Interface-Arcade"]
	path = Interface-Arcade
	url = https://github.com/jahAtFriends/Interface-Arcade.git
